body{
margin:0;
text-align:center;
}

h1{
margin-top:40px;
font-size:40px;
}

.container{
display:flex;
justify-content:center;
gap:20px;
}

.card{
width:240px;    
height: 200px;
background:rgb(227, 227, 227);
border-radius:30px;
}

.card:hover{
 width: 250px;
 height:210px ;
 transition: all 0.3s ease;
}

.card_title{
background:blue;
color:white;
padding:10px;
font-weight:bold;
}

.card_value{
padding:30px;
font-size:20px;
}



.big_number{
font-size:50px;
}